@page "/"
@using CardLibrary.CardDeck

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@foreach (var item in cards.CardsList)
{   
    <card class="card border-2 " style="width:100px; height:150px;">
        <img class="card-img img-card" src="@item.ImgUrl" />
    <p class="card-header">@item.Number @Convert.ToChar(item.Number)</p>
    </card>
}
<SurveyPrompt Title="How is Blazor working for you?" />
@code{
    CardDeck cards = new(52);

}