@page "/gamingpage"

<h3>GamingPage</h3>

<button @onclick="TakeCards">Take</button>

@if (_showCard)
{
    <div class="form-check">
        @foreach (var card in CardsOnHand)
        {
            <label class="container">

                <input class="form-check-input" type="checkbox"
                @bind-value="@card.IsActive">
                

                <CardComponent Card="@card"></CardComponent>
               
            </label>


        }
    </div>
}