@page "/gamingpage"

@if (!_showCard)
{
    
<h3>GamingPage</h3>

<button class="btn btn-primary" @onclick="TakeCards">Shuffle Cards</button>
}

@if (_showCard)
{
    <div class="form-check row " >
        @foreach (var card in CardsOnHand)
        {
            <label class="col-sm-2 m-1" style="width:150px;">

                <CardComponent Card="@card"></CardComponent>
                <input class="form-check-input" type="checkbox"  checked="@card.IsActive" 
                @bind-value="@card.IsActive" id="TossCard">


                <label class="form-check-label btn " for="TossCard">Toss</label>
            </label>


        }
    </div>
     <img src="/images/decks/fulldeck.jpg" class="btn btn-white w-25" @onclick="TossCards">
}

<HistoryComponent HistoryList="@HandHistoryList"></HistoryComponent>