@page "/"
<PageTitle>Index</PageTitle>

@if (CardsList is null)
{
    <p>Loading..</p>
}
else{
    foreach (var item in CardsList)
    {
        <img width="150" height="241" src="@item.ImgUrl" />
    }
}








